<header>
  <div class = "banner">
  	<ul>
	  <li id="hourglass">Hourglass</li>
	  <li><a href="/"><img id="internal" src="/images/logo.png" alt="Logo"></a></li>
	  <li id="code">Code</li>
	  <li><a href="http://www.twitter.com/hourglasscode"><img id="external" src="/images/Twitter_Logo_White_On_Blue.png" alt="Twitter"></a></li>
	  <li><a href="http://www.github.com/hourglasscode"><img id="external" src="/images/Octocat.png" alt="GitHub"></a></li>
	  <li><a href="https://www.youtube.com/channel/UCdnMr5pFWVsgQKFIsevoVzw/about"><img id="external" src="/images/youtube_social_circle_red.png" alt="YouTube"></a></li>
	</ul>
  </div>
</header>
